
@{
    ViewData["Title"] = "TvcRazorCode";
}

<h1>TvcRazorCode</h1>
<hr/>
@{
    var name = "Chung Trịnh";
    var email = "chungtrinhj@gmail.com";
    int age = 50;
}
<div>
    <h2>Hiển thị dữ liệu</h2>
    <p>Name: @name</p>
    <p>Email: @email</p>
    <p>Age: @age</p>
</div>
<h2>Cấu trúc if</h2>
@{
    var total = 12345;
    bool isActive = false;
}
@{
    if(total > 10000)
    {
        <p>Lương cao</p>
    }
    else
    {
        <p>Lương thấp</p>
    }

    if(isActive == true)
    {
        <p class="badge text-bg-success">Hoạt động</p>
    }
    else
    {
        <p class="badge text-bg-warning">Tạm khóa</p>
    }
}

<h2>Cấu trúc lặp</h2>
@{
    for(int i=0; i<10; i++)
    {
        if (i % 2 == 0)
        {
            <span class="btn btn-danger">@i</span>
        }
        else
        {
            <span class="btn btn-success">@i</span>
        }
    }
}